@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Squada+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body {
     background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 100%);
}

img {
     align-items: center;
}

#rollButton {
    
font-family: 'Staatliches', cursive;
     color: whitesmoke;
     font-size: 30px;
  background-color: rgba(32,32,32,1);
}

h1 {
   text-align: center;
     color: white;
     font-family: 'Press Start 2P', cursive;
     padding: 15px;
}

h2 {
     color: black;
     text-align: center;
     font-size: 80px;
     font-family: 'Staatliches', cursive;
}
.spacer {
     height: 20px;
}

h2 {
     font-size: 40px;
}

h6 {
     font-family: 'Staatliches', cursive;
     color: white;
     text-align: center;
     font-size: 30px;
}

table {
     color: white;
}

